.pd-page-wrapper{
    /* font-family: 'Arial'; */

    @media(min-width: 500px){
        padding-left: 220px;
        padding-top: 20px;
    }

    @media(max-width: 500px){
        padding-top: 16px;
        padding-left: 16px;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    /* background: lightgray; */
}

.pd-page-wrapper > .pd-section-02 {
    @media(min-width: 500px){
        padding-top: 120px;
        padding-left: 40px;
        width: 600px;
    }

    @media(max-width: 1200px) and (min-width: 600px){
        /* padding-top: 16px; */
        padding-left: 20px;
        width: 100%;
        /* display: flex; */
        justify-content: center;
        /* position: relative; */
        padding-top: 40%;
    }

    @media(max-width: 600px){
        padding-top: 60%;
    }
    /* padding: 20px; */

}

.cta-section{

    padding-left: 0 !important;
    padding-right: 12px;
    @media (max-width: 500px){
        min-width:90%;
        /* background: lightgrey; */
        position: fixed !important;
        bottom: 0;
        /* margin-right: 9px; */
        display: flex;
        justify-content: center;
    }
}

.cta-section .wishlist{
    @media (max-width: 500px){
        background: lightblue;
    }
}

.space-cta-btns{
    @media (max-width: 320px){
        display: none;
    }
}


.carousal{
    /* width:30%;
    height: 30%; */
    height: 450px;
    width: 450px;

    @media(max-width: 500px){
        height: 200px;
        width: 200px;
    }
}

.left-section{
    padding-top:12px;
}

.open-cart-button{
    position: absolute !important;
    top: 1.6%;
    right: 2%;
}

